
@model DemoMVCWebApp.Models.StudentModel

<h2>Details</h2>

<div>
    <h4>Student Details</h4>
    <h5>Country: @Model.Country</h5>
    <h5>Name: @Model.Name</h5>
    <h5>University: @Model.University</h5>
    <h5>Dept: @Model.Dept</h5>
    <h5>Roll: @Model.Roll</h5>
    <h5>Age: @Model.Age</h5>
    <h5>District: @Model.District</h5>
</div>